# 5 Fancier Output

## Print using %

In [1]:
name="Joey"
print("Hello, %s!"%name)

Hello, Joey!

In [2]:
age=23
print("%s is %d years old."%(name,age))

Joey is 23 years old.

## Print using format

In [3]:
# Positional (Follow index)
"Art: {0:5d}, Price: {1:8.2f}".format(453, 59.058)

'Art:   453, Price:    59.06'

In [4]:
# Keyword
"Art: {a:5d}, Price: {p:8.2f}".format(a=453, p=59.058)

'Art:   453, Price:    59.06'

In [5]:
# Alignment Left
"{0:<20s} {1:6.2f}".format('Spam & Eggs:', 6.99)

'Spam & Eggs:           6.99'

In [6]:
# Alignment right
"{0:>20s} {1:6.2f}".format('Spam & Eggs:', 6.99)

'        Spam & Eggs:   6.99'

In [7]:
# Alignment centre
"{0:^20s} {1:6.2f}".format('Spam & Eggs:', 6.99)

'    Spam & Eggs:       6.99'

In [8]:
# Alignment centre with padding character *
"{0:*^20s} {1:6.2f}".format('Spam & Eggs:', 6.99)

'****Spam & Eggs:****   6.99'

In [10]:
# Zero Padding
x = 378
print("The value is {:06d}".format(x))
x = -378
print("The value is {:06d}".format(x))

The value is 000378
The value is -00378

In [11]:
# Thousands separator
x = 78962324245
print("The value is {:,}".format(x))
print("The value is {0:6,d}".format(x))
x = 5897653423.89676
print("The value is {0:12,.3f}".format(x))

The value is 78,962,324,245
The value is 78,962,324,245
The value is 5,897,653,423.897

In [13]:
# Using dictionaries in format
print ("Capital of {0:s} is {1:s}".format("Ontario","Toronto"))
print ("Capital of {state} is {capital}".format(state="Perak",capital="Ipoh"))
data = dict(province="Ontario",capital="Toronto")
print("The capital of {province} is {capital}".format(**data))

Capital of Ontario is Toronto
Capital of Perak is Ipoh
The capital of Ontario is Toronto

In [14]:
# Iterate through the dictionary and print all the values
capital_country={"US":"Washington","Canada":"Ottawa","MY":"Malaysia"}

for c in capital_country:
    format_string = c + ": {" + c + "}"
    print(format_string.format(**capital_country))

US: Washington
Canada: Ottawa
MY: Malaysia

## Print using f-strings

In [16]:
price = 11.23
f"Price in Euro: {price}"

'Price in Euro: 11.23'

In [17]:
f"Price in Swiss Franks: {price * 1.086}"

'Price in Swiss Franks: 12.195780000000001'

In [18]:
f"Price in Swiss Franks: {price * 1.086:5.2f}"

'Price in Swiss Franks: 12.20'

In [19]:
for a in ["bread", "butter", "tea"]:
    print(f"{a:>10}:")

     bread:
    butter:
       tea:

## Print using Template String
Instead of using the normal % based substitutions, template strings support the $ based substitutions.
The Python Template class has a second method that we can use to perform string substitution. The method is called safe_substitute(). It works similarly to substitute() but when we use an incomplete or non-matching set of arguments the method doesn't rise a KeyError.

In [22]:
from string import Template
money = dict(who = 'You', to_whom = 'baker')
Template('$who owe the $to_whom a total of $$100').substitute(money)

'You owe the baker a total of $100'

In [23]:
Template('$who owe the $to_whom a total of $$100').safe_substitute(money)

'You owe the baker a total of $100'

## Format using methods

In [24]:
s="Python"
s.center(20)

'       Python       '

In [26]:
s.center(20,"*")

'*******Python*******'

In [27]:
s.ljust(20)

'Python              '

In [28]:
s.ljust(20,"X")

'PythonXXXXXXXXXXXXXX'

In [29]:
s.rjust(20)

'              Python'

In [30]:
s.rjust(20,"8")

'88888888888888Python'

In [32]:
account_number=234329
str(account_number).zfill(12)

'000000234329'