# While For Loops

## While Else Statement

In [1]:
counter=1

while counter<11:
    print(counter)
    counter+=1

1
2
3
4
5
6
7
8
9
10

In [2]:
counter=1

while counter<11:
    print(counter)
    counter+=1
else:
    print("All numbers are printed")

1
2
3
4
5
6
7
8
9
10
All numbers are printed

## Break Continue Statement

In [3]:
counter=1
while counter<11:
    print(counter)
    
    if counter==5:break
    counter+=1

1
2
3
4
5

In [5]:
counter=1
while counter<11:
    counter+=1
    if counter==5:continue
    print(counter)

2
3
4
6
7
8
9
10
11

## While Else Break Statement

If the else statement is used with the while, it gets executed when the condition is false. 
In the below example the print statement inside else does not get executed, since the counter never gets greater than 11.

In [6]:
counter=1
while counter<11:
    print(counter)
    if counter==5:break
    counter+=1
else:
    print("All numbers printed")

1
2
3
4
5

## For Statement

In [7]:
flowers=['daisy','rose','sunflower']

for x in flowers:
    print(x)

daisy
rose
sunflower

In [9]:
# Looping through a string. String is a seuence of characters
for x in "banana":
    print(x)

b
a
n
a
n
a

## For Else Statement

If the else statement is used with a for loop, the else statement is executed when the loop has exhausted iterating the list.

In [44]:
for j in range(1,6):   

    for i in range(j):
        print(i)
        if i==3:
            break
    else:
        print('Error')

0
Error
0
1
Error
0
1
2
Error
0
1
2
3
0
1
2
3

## For Statement with Break

With the break statement, we can stop the loop before it has looped through all the items.

In [15]:
fruits=["apple","banana","cherry"]

for x in fruits:
    print(x)
    
    if x=="banana":
        break # exit the loop after printing 'banana'

apple
banana

## For Statement with Continue

The continue statement is used to skip the rest of the code inside a loop for the current iteration only. Loop does not terminate but continues on with the next iteration.

In [16]:
for number in range(2,100):
    if number%2==0:
        print("Found an even number "+str(number))
        continue
    print("Found an odd number "+str(number))

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9
Found an even number 10
Found an odd number 11
Found an even number 12
Found an odd number 13
Found an even number 14
Found an odd number 15
Found an even number 16
Found an odd number 17
Found an even number 18
Found an odd number 19
Found an even number 20
Found an odd number 21
Found an even number 22
Found an odd number 23
Found an even number 24
Found an odd number 25
Found an even number 26
Found an odd number 27
Found an even number 28
Found an odd number 29
Found an even number 30
Found an odd number 31
Found an even number 32
Found an odd number 33
Found an even number 34
Found an odd number 35
Found an even number 36
Found an odd number 37
Found an even number 38
Found an odd number 39
Found an even number 40
Found an odd number 41
Found an even number 42
Found an odd number 43
Found an even number 44
Found an odd number 45
Found an even number 46
Found an odd number 47
Found an even number 48
Found an odd number 49
Found an even number 50
Found an odd number 51
Found an even number 52
Found an odd number 53
Found an even number 54
Found an odd number 55
Found an even number 56
Found an odd number 57
Found an even number 58
Found an odd number 59
Found an even number 60
Found an odd number 61
Found an even number 62
Found an odd number 63
Found an even number 64
Found an odd number 65
Found an even number 66
Found an odd number 67
Found an even number 68
Found an odd number 69
Found an even number 70
Found an odd number 71
Found an even number 72
Found an odd number 73
Found an even number 74
Found an odd number 75
Found an even number 76
Found an odd number 77
Found an even number 78
Found an odd number 79
Found an even number 80
Found an odd number 81
Found an even number 82
Found an odd number 83
Found an even number 84
Found an odd number 85
Found an even number 86
Found an odd number 87
Found an even number 88
Found an odd number 89
Found an even number 90
Found an odd number 91
Found an even number 92
Found an odd number 93
Found an even number 94
Found an odd number 95
Found an even number 96
Found an odd number 97
Found an even number 98
Found an odd number 99

## For Statement using Index

Enumerate() method adds a counter to an Iterable and returns it in a form of enumerate object which can then be used directly in for loops.

In [18]:
fruits=["apple","banana","cherry"]

for index,value in enumerate(fruits):
    print(str(index)+" "+value)

0 apple
1 banana
2 cherry

In [32]:
fruits=["apple","banana","cherry"]

for index in range(len(fruits)):
    print(fruits[index])

apple
banana
cherry

## Short Hand

In [45]:
newlist=[i for i in fruits]
newlist

['apple', 'banana', 'cherry']

In [46]:
mylist=[1,2,3,4,5]
doublelist=[i*2 for i in mylist]
doublelist

[2, 4, 6, 8, 10]

In [49]:
cars=["Proton","Mercedes","Perodua","Mazda"]
listcars=[i for i in cars if len(i)==5]
listcars

['Mazda']

In [50]:
# Iterate through multiple lists
[(x,y) for x in [1,2,3] for y in [3,1,4] if x!=y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [51]:
# Calculate pi values
from math import pi
[str(round(pi,i)) for i in range(1,6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']